{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <a class="site-title" href="{{ base_path }}/">{{ site.title }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% assign is_current_page = false %}
            {% if page.url == link.url %}
              {% assign is_current_page = true %}
            {% endif %}
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}"{% if is_current_page %} class="is-current" aria-current="page"{% endif %}{% if link.target %} target="{{ link.target }}"{% endif %}{% if link.target == '_blank' %} rel="noopener"{% endif %}>{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>